@charset "utf-8";
@font-face {
	font-family: 'News gothic bt';
	src: url('News-gothic-bt.ttf') format('truetype');
}
body {
	background-color: #8D9D9F;
}

#principal {
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
	font-family: "News gothic bt";
	background-color: rgba(141,157,159,0.80);
	padding-bottom: 50px;
}
#txt_prin {
	text-align: center;
	margin-bottom: 70px;
	color: rgba(255,255,255,1.00);
	margin-top: 30px;
}
.cont {
	width: 600px;
	background-color: rgba(159,149,141,0.65);
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	border-radius: 15px;
	padding-bottom: 25px;
}

.title  {
	text-align: center;
	color: #E8EBEB;
	font-size: x-large;
	font-weight: 500;
}

.centro {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
.centro .reng input {
	background-color: rgba(255,255,255,0.30);
	width: 200px;
	padding-top: 3px;
	padding-bottom: 4px;
	-webkit-box-shadow: 2px 2px 5px 1px rgba(99,99,99,1.00);
	border-radius: 60px;
	box-shadow: 2px 2px 5px 1px rgba(99,99,99,1.00);
}
.centro .reng input:hover {
	background-color: rgba(39,162,33,0.80);
	color: rgba(255,255,255,1.00);
}
.centro_v2 {
	width: 270px;
	margin-left: auto;
	margin-right: auto;
}

.centro_v2 .reng input {
	background-color: rgba(255,255,255,0.30);
	padding-top: 3px;
	padding-bottom: 4px;
	-webkit-box-shadow: 2px 2px 5px 1px rgba(99,99,99,1.00);
	border-radius: 60px;
	box-shadow: 2px 2px 5px 1px rgba(99,99,99,1.00);
	width: 270px;
}
.centro_v2 .reng input:hover {
	background-color: rgba(39,162,33,0.80);
	color: rgba(255,255,255,1.00);
}

footer {
	text-align: center;
	margin-top: 50px;
	color: #D7D7D7;
	font-weight: bold;
	margin-bottom: -50px;
}
